nav {
    margin-left: 30px;
    margin-right: 30px;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
}

#intro, #showcase, #functionality {
    height: 100vh;
}

#request {
    height: 80vh;
}

section {
    display: flex;
}

img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.intro-img {
    width: 80%;
}

#functionality img {
    width: 80%;
}

.footer-section {
    padding: 50px 0px;
    background-color: whitesmoke;
}

.footer-link {
    color: black;
}

/*  */
@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

